<h2>Profile for <%= current_user.name %></h2>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>


  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name, :autofocus => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label"  %>
    <div class="col-sm-6">
      <%= f.email_field :email, :autofocus => true, class: "form-control"  %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label"  %> 
    <div class="col-sm-6">
      <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, :autocomplete => "off", class: "form-control"  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label"  %>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class: "col-sm-2 control-label"  %> 
    <div class="col-sm-6">
      <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, class: "form-control"  %>
    </div>
  </div>

<div class="form_submission">
  <%= f.submit "Update", class: "btn btn-primary" %> 

  <%= link_to registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete do %>
    <button class="btn btn-primary">
      <i class="fa fa-frown-o"></i>
          Delete Account
    </button>
  </div>
  <% end %>


  <% if current_user %>
<p>
  <h4>Create private wikis when you upgrade to a premium account.
  <%= link_to new_charge_path do %>
  <button class="btn btn-primary">
    <i class="fa fa-star fa-lg"></i>
      Upgrade
  </button>
  </h4>
  <% end %>
</p>
<% end %>

<% end %>


