<%= form_for [wiki, article] do |f| %>
  <div>
   <%= f.label :tittle %>
   <%= f.text_field :title %>
  </div>
 
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit "Submit "%>
  </div>

<% end %>
