<h3>Wiki Index </h3>

<% @wikis.each do |wiki| %>
<table class="table">
  <tbody>
    <tr>
      <td>
        <div style="width : 300px">
        <h4><%= link_to wiki.topic, wiki %></h4>
        <p><%= wiki.description %></p>
        </div>
      </td>
      <td>
        <% if can? :edit, Wiki %>
          <%= link_to "Edit", edit_wiki_path(wiki), class: "btn btn-warning" %>
        <% end %>
      </td>
      <td>
        <% if can? :destroy, Wiki %>  
          <%= link_to "Delete", wiki, method: :delete, class: "btn btn-warning", confirm: "Are you sure?" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<% end %>



<% if can? :create, Wiki %>
  <%= link_to new_wiki_path do %>
  <button class="btn btn-success">
    <i class="fa fa-plus fa-1x"></i>
    New Wiki
  </button>
  <% end %>
<% end %>

<hr/>

<p>
  <h4>Create private wikis with a premium account upgrade today!
  <%= link_to new_charge_path do %>
  <button class="btn btn-primary">
    <i class="fa fa-star fa-lg"></i>
      Upgrade
  </button>
  </h4>
  <% end %>
</p>




