<h3> My Wikis </h3>

<% @wikis.each do |wiki| %>
<table class="table">
  <tbody>
    <tr>
      <td>
        <div style="width : 300px">
        <%= link_to wiki.topic, wiki %>
        <p><%= wiki.description %></p>
        </div>
      </td>
      <td>

        <% if can? :edit, Wiki %>
          <%= link_to "Edit", edit_wiki_path(wiki), class: "btn btn-warning" %>
        <% end %>
      </td>
      <td>
        <% if can? :destroy, Wiki %>  
          <%= link_to "Delete", wiki, method: :delete, class: "btn btn-warning", confirm: "Are you sure?" %>
        <% end %></td>
    </tr>
  </tbody>
</table>
<% end %>

<br/>
<%= link_to "Create Wiki", new_wiki_path, class: "btn btn-success" %>