<h1>
  <%= @wiki.topic %>  
  <% if can? :edit, Wiki %>
    <%= link_to "Edit", edit_wiki_path, class:" btn btn-warning btn-xs" %>
    <% end %>
</h1>
<h5>
  Description: <%= @wiki.description %>
</h5>
<hr>

<h4>Listing <%= pluralize(@articles.count, "Articles" )%></h4>


<% @articles.each do |article| %>
  <p><h5><%= link_to article.title, wiki_article_path(@wiki, article)%></h5></p>
<% end %>

<br/>
<% if can? :create, Article %>
  <%= link_to new_wiki_article_path(@wiki) do %>
  <button class="btn btn-success btn-">
    <i class="fa fa-plus fa-1x"></i>
    New Article
  </button>
  <% end %>
<% end %>

<hr/>

<% if can? :create, Collaboration%>
  <% if @wiki.collaborations.count > 0 %>
  <%= render partial: "collaborations/form", locals: {wiki: @wiki, collaboration: @collaboration } %>
  <% end %>
<% end %>
