<h1>
  <%= @wiki.topic %>  
  <% if can? :edit, Wiki %>
    <%= link_to "Edit", edit_wiki_path, class:" btn btn-warning btn-xs" %>
    <% end %>
</h1>
<h4>
  Description: <%= @wiki.description %>
</h4>
<hr>

<h3>Articles</h3>
<% @article.each do |article| %>
  <p><%= link_to article.title, wiki_article_path(@wiki, article)%></p>
<% end %>


<% if can? :create, Article %>
  <%= link_to "New Article", new_wiki_article_path(@wiki), class: "btn btn-success btn-lg" %>
  <% end %>

