<h1>
  <%= @wiki.topic %>  
  <% if can? :edit, Wiki %>
    <%= link_to "Edit", edit_wiki_path, class:" btn btn-warning btn-xs" %>
    <% end %>
</h1>
<h4>
  Description: <%= @wiki.description %>
</h4>
<hr>

<h3><%= pluralize(@articles.count, "Articles" )%></h3>


<% @articles.each do |article| %>
  <p><%= link_to article.title, wiki_article_path(@wiki, article)%></p>
<% end %>


<% if can? :create, Article %>
  <%= link_to "New Article", new_wiki_article_path(@wiki), class: "btn btn-success btn-lg" %>
<% end %>


<h2>Add Collaborator to Wiki</h2>

